<header>
  <div class="head">
    <div class= "nav-left">
        <a href="/">re.SOURCE</a>
        <form id="search-bar" method="GET" action="/results">
          <input type="text" placeholder="search" name"search" />
        </form>
    </div>
  <% let username = "Mike"; %>
    <% if (true) {%>
      <div class="login-in-link">
          <input>
              <button class="log-button" type="submit">Logout</button>
            </div>
      </div>
      <div class="register-link">
        <a href="/register">Not as member yet?<br>Would you like to register ?</a>
      </div>
      <% } else { %>
        <ul class="logged-in-links">
            <a href="/my_profile">Your Walls</a>
            <a href="/new_topic">Create A New Wall</a>
            <a href="/new_resource">Create A New Link</a>
        </ul>
            <div class="logout">
              <p id="logged-in-message">Logged in as : <%=username%></p>
              <button class="log-button" type="submit">Logout</button>
            </div>
    <% } %>
    </div>
</header>



