<!DOCTYPE html>
<html lang="en">

  <div class= "nav-left">
    <a href="/main">Home</a>
      <form id="search-bar" method="GET" action="/results">
      <input type="text" placeholder="search" name"search" />
      </form>
  </div>

  <div class="nav-right">
      <% if (!id) {%>
      <p> Would you like to register? <a data-open="register">Register</a></p>
      <button class="log-button" data-open="login">Login</button>
      <label>username<input type="text" placeholder="Username" name="username"/></label>
<-- register tab -->
      <form class="registration" method="POST" action="/register">
        <button class="close-button" data-close aria-label="Close modal" type="button">
        <span aria-hidden="true">&times;</span></button>
        <h1 class="register-heading">Register</h1>
        <label>name<input type="text" placeholder="Please enter your name." name="name"/></label>
        <label>email<input type="text" placeholder="Please enter an email." name="email"/></label>
        <label>username<input type="text" placeholder="Please enter a username." name="username"/></label>
        <label>password<input type="password" plaeholder="Please enter a password." name="password"/></label>
        <button class="register" data-open="register">Register</button>
      </form>
      <%} else {%>
      <form>
        <li><a href="/users/<%=username%>"> Your Walls</a></li>
        <li><a href="/users/<%=username%>/new_topic"> Create A New Wall</a></li>
        <li><a href="/users/<%=username%>/new_resource">Create A New Link</a></li>
        <li><a href="/users/<%=username%>">Loggin in as:</a></li>
        <button class="log-button" type="submit">Logout</button>
      </form>
      <%}%>
  </div>
</html>
