<header>
  <div class="head">
    <div class= "nav-left">
        <a href="/">re.SOURCE</a>
        <form id="search-bar" method="GET" action="/results">
          <input type="text" placeholder="search" name"search" />
        </form>
    </div>
  <% let id = false; %>
  <% let username = "Mike"; %>
    <% if (!id) {%>
      <p> Would you like to register? <a data-open="register"></a></p>
      <form class="registration" method="POST" action="/register">
          <label>First Name : <input type="text" placeholder="Please enter your name." name="first_name"/></label>
          <label>Last Name : <input type="text" placeholder="Please enter your name." name="last_name"/></label>
          <label>Email : <input type="text" placeholder="Please enter an email." name="email"/></label>
          <label>Username : <input type="text" placeholder="Please enter a username."  name="username"/></label>
          <label>Password : <input type="password" placeholder="Please enter a password." name="password"/></label>
          <button class="register" data-open="register">Register</button>
      </form>


    </form>
      <% } else { %>
        <ul class="logged-in-links">
            <a href="/my_profile">Your Walls</a>
            <a href="/new_topic">Create A New Wall</a>
            <a href="/new_resource">Create A New Link</a>
        </ul>
            <div class="logout">
              <p id="logged-in-message">Logged in as : <%=username%></p>
              <button class="log-button" type="submit">Logout</button>
            </div>
    <% } %>
    </div>
</header>



