<header>
<div class="head">
  <div class= "nav-left">
     <img class="logo" src="/images/recycle.png">
      <a href="/">re.SOURCE</a>
      <form id="search-bar" method="POST" action="/api/search/:searchQuery">
        <input type="text" placeholder="search" name"searchText" />
        <button class="search_button"></button>
      </form>
  </div>
  <% if (!user_name) {%>
     <button class="login-button" onclick="openForm()">Login</button>
       <div class="login-popup" id="myForm">
         <form action="/api/users/login" method ="POST" class="login-container">
           <h1>Login</h1>
           <input type="text" placeholder="Enter Username" name="user_name" required>

           <input type="password" placeholder="Enter Password" name="password" required>

           <button type="submit" class="btn">Login</button>
           <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
         </form>
       </div>
         <script>
           function openForm() {
             document.getElementById("myForm").style.display = "block";
           }
           function closeForm() {
             document.getElementById("myForm").style.display = "none";
           }
         </script>

     <button class="register-button" onclick="openForm2()">Register</button>
       <div class="register-popup" id="myForm2">
         <form action="/api/users/register" method="POST" class="register-container">
           <h1>Register</h1>
           <input type="text" placeholder="Enter first name" name="first_name" required>
           <input type="text" placeholder="Enter last name" name="last_name" required>
           <input type="text" placeholder="Enter user name" name="user_name" required>
           <input type="password" placeholder="Enter password" name="password" required>
           <input type="email" placeholder="Enter Email" name="email" required>
           <button type="submit" class="btn">Register</button>
           <button type="button" class="btn cancel" onclick="closeForm2()">Cancel</button>
         </form>
       </div>
         <script>
           function openForm2() {
             document.getElementById("myForm2").style.display = "block";
           }
           function closeForm2() {
             document.getElementById("myForm2").style.display = "none";
           }
         </script>
    </div>

    <% } else { %>
          <div class="logout">
                <p id="logged-in-message">Logged in as :
                <%=user_name%>
                </p>
              <form action="/logout" method="POST">
                <button class="logout-button" type="submit">Logout</button>
              </form>
            </div>
             <form action="/users/:user_id" method="POST">
              <button class="my-wall-button">My Wall</button>
            </form>

             <button class="create-topic-button" onclick="openForm3()">Create Topic</button>
       <div class="register-popup" id="myForm3">
         <form action="/api/topics/create_topic" method="POST" class="resource-container">
           <h1>Create New Topic</h1>
           <input type="text" placeholder="Enter Topic name" name="topic_name" required>

           <button type="submit" class="btn">Create</button>
           <button type="button" class="btn cancel" onclick="closeForm3()">Cancel</button>
         </form>
       </div>
         <script>
           function openForm3() {
             document.getElementById("myForm3").style.display = "block";
           }
           function closeForm3() {
             document.getElementById("myForm3").style.display = "none";
           }
         </script>


       <button class="resource-button" onclick="openForm4()">Create Resource</button>
       <div class="resource-popup" id="myForm4">
         <form action="/api/resources/create_resource" method="POST" class="resource-container">
           <h1>Create New Resource</h1>
           <input type="text" placeholder="Enter Resource name" name="title" required>
           <input type="text" placeholder="Enter URL" name="url" required>
           <input type="text" placeholder="Enter Description" name="description" required>
           <div class="dropdown_options">

           <select name="topics_id">
                <option>Travelling</option>
                <option>Makeup</option>
                <option>History</option>
                 <option>Food</option>
                  <option>Music</option>
                </select>

          </div>
          <button type="submit" class="btn">Create</button>
           <button type="button" class="btn cancel" onclick="closeForm4()">Cancel</button>
         </form>
       </div>
         <script>
           function openForm4() {
             document.getElementById("myForm4").style.display = "block";
           }
           function closeForm4() {
             document.getElementById("myForm4").style.display = "none";
           }
         </script>

            </div>

          </div>

  <% } %>
  </div>

</header>



