<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <title>re.SOURCE - New Resource</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
         <%- include partials/_header.ejs %>
    <form class="form-inline block" action="/index" method="POST">

            <div class="new_resource_container">
              <input type="text" placeholder="Title" name="title"/>
              <input type="text" placeholder="URL" name="url"/>
              <input type="text" placeholder="Description" name="description"/>
              <div class="dropdown_options">
                <span>Pick a Topic</span>
                <select name="resource_board">

                </select>
              </div>
            </div>
            <button class="button mark">button</button>
        </form>

    </form>
        <div class="dropdown_options">
            <span>Pick a Topic</span>
              <select name="resource_board">

              </select>
        </div>
        <button class="button mark">button</button>

  </body>
</html>
