<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <link rel="stylesheet" href="/styles/header.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <title>re.SOURCE - Register</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include partials/_header.ejs %>
    <form action="/api/users/register" method="POST">

     <div class="register-container">
       <h1 class="register-heading">Register</h1>
       <label>name<input type="text" placeholder="Please enter your name." name="name"/></label>
       <label>email<input type="text" placeholder="Please enter an email." name="email"/></label>
       <label>username<input type="text" placeholder="Please enter a username." name="username"/></label>
       <label>password<input type="password" placeholder="Please enter a password." name="password"/></label>
       <button type="submit" class="register" data-open="register">Register</button>
     </div>
     </form>
 </body>
</html>
