header .head {
position: fixed;
color:#e8fdff;
background-color:lightblue;
width:100%;
height:auto;
padding-right:2em;
padding-left:2em;
padding-bottom:1em;
z-index: 1;
}

.nav-left{
  width:30%;
  margin:0;
  display:inline-block;
  float:left;
}

.logo{
    margin:10px 0px;
    height:50px;
    width:50px;
}
.nav-left a{
   color: rgb(230, 0, 35);
}


#logged-in-message,{
    margin:0;
    padding:0;
    margin-bottom:0px;
}

.logout p{
  margin-bottom:0px;
}


.logged-in-links{
float:right;
}

.register-link{
  float:right;
}

.login-in-link {
  float:right;
}

.logout {
float:right;
}

.log-button{
    border: 0px;
    height: 36px;
    display: inline-block;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    padding: 0px 18px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(230, 0, 35);
    color: rgb(255, 255, 255);
    width: 90%;
}
