body {
  background-color: #EEE;
}

body h1 {
  color: #244751;
}


.register-container{
  background-color:lightblue;
  margin-top: 120px;
  margin-left: 50%;
  margin-right: 50%;
  display:inline-block;
  text-align: center;
  border: .5px solid black;
  border-radius: 10px;
}

.register-container label{
  padding:15px;
}
