.new_resource_container {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    position: relative;
    text-align: center;
    width: 440px;
    margin: 160px auto;
    min-height: initial;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
    padding-bottom: 5px;
}

.new_resource_container input {
  margin:10px 0px 10px 0px ;
  display:inline-block;
  text-align:center;
  width:90%;
}

.new_resource_container button{
    border: 0px;
    height: 36px;
    display: inline-block;
    border-radius: 4px;
    -webkit-font-smoothing: antialiased;
    padding: 0px 18px;
    font-size: 15px;
    font-weight: bold;
    outline: none;
    box-shadow: none;
    cursor: pointer;
    margin-top: 10px;
    vertical-align: middle;
    text-align: center;
    background-color: rgb(230, 0, 35);
    color: rgb(255, 255, 255);
    width: 90%;
}

.new_resource_container textarea{
    text-align: center;
    margin:0px 10px;
    width: 90%;
}

.new_resource_container label{
  margin:5px;
}
