.topic-grid-container {
    display: grid;
    margin-top: 3%;
    grid-template-columns: 0% 15% 15% 15% 10%;
    grid-template-rows: 0% 34% 10% 10% 10%;
    grid-column-gap: 7%;
    grid-row-gap: 20%;
}
.wall-container{
  top-margin: -15%;
}
.info {
  display:block;
}
.titles {
  font-weight:bold;
  margin-left: -69%;
  margin-top: 62px;
  text-align: center;
}
.titles2 {
  font-weight: bold;
  margin-left: -26%;
  margin-top: -102px;
  text-align: center;
}
.titles3 {
  font-weight: bold;
  margin-left: 17%;
  margin-top: -102px;
  text-align: center;
}
.titles4 {
  font-weight: bold;
  margin-left: 63%;
  margin-top: -146px;
  text-align: center;
}
h2 {
    margin-top: 8%;
    margin-left: 41%;
}
.reuse-pics {
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 2px 10px;
  width :120px;
  height:205px;
}
.item-a {
  grid-column: 2;
  grid-row: 2;
}
.item-a:hover {
  opacity: 0.5;
}
.item-b {
  grid-column: 3;
  grid-row: 2;
}
.item-b:hover {
  opacity: 0.5;
}
.item-c {
  grid-column: 4;
  grid-row: 2;
}
.item-c:hover {
  opacity: 0.5;
}
.item-d {
  grid-column: 5;
  grid-row: 2;
}
.item-d:hover {
  opacity: 0.5;
}
.item-e {
  grid-column: 2;
  grid-row: 3;
}
.item-e:hover {
  opacity: 0.5;
}
.item-f {
  grid-column: 3;
  grid-row: 3;
}
.item-f:hover {
  opacity: 0.5;
}
.item-g {
  grid-column: 4;
  grid-row: 3;
}
.item-g:hover {
  opacity: 0.5;
}
.item-h {
  grid-column: 5;
  grid-row: 3;
}
.item-h:hover {
  opacity: 0.5;
}
